@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.nav{
    background-color: rgb(17, 7, 110);
    display: flex;
}
.nav a{
    margin: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    text-decoration: none;
}
.nav button{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 90px;
    height: 35px;
    border: solid;
    border-width: 1px;
    background-color: white;
    color: rgb(17, 7, 110);
    border-radius: 4px;
    cursor: pointer;
}
.nav button:hover{
    border: solid rgb(33, 46, 226);
    background-color: rgb(33, 46, 226);
    color: white;
}
.nav-btn{
    position:absolute;
    top: 12px;
    right:20px;
}
.card{
    padding-top: 2px;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 355px;
    height: 170px;
    border-radius: 4px;
}
.card h3{
    color: rgb(12, 5, 110);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
.card p{
    color: rgb(152, 151, 165);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
.card button{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 90px;
    height: 35px;
    border: solid;
    border-width: 1px;
    background-color: white;
    color: rgb(17, 7, 110);
    border-radius: 4px;
    cursor: pointer;
}
.card button:hover{
    background-color: rgb(17, 7, 110);
    color: white;
}
.card-button{
    margin: auto;
    width: 20%;
    padding: 10px;

}
.jee {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.gate{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
